

html {
  background-color: rgb(17, 17, 17);
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

.fade-ending {
  background: linear-gradient(180deg, #111111, #080808);
  height: 200px;
  width: 100%;
}