@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.website-container {  
  display: flex;
  text-align: center;
  flex-direction: column;
}

.title-text {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-size: 100px;
  margin-bottom: 30px;
}

.stopwatch-time {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  
}
@media only screen and (max-width: 600px) {
  .stopwatch-time {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0;
  }

}

html {
  background-color: #FFEDD8; 
  margin: 0;
  display: block;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.button-container {
  display: flex;
  justify-content: center;

  gap: 60px;
}